<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/assets/css/atom-one-light.css">
    {% assign has_subtag = false %}
    {% assign tag_name = "" %}
    {% assign tag_icon = "/assets/img/mycomputer.png" %}
    {% for tag in site.data.tags %}
        {% if page.url == tag.url %}
            {% assign tag_name = tag.name %}
            {% assign tag_icon = tag.icon %}
        {% endif %}
        {% if tag.sub_tags %}
            {% for sub_tag in tag.sub_tags %}
                {% if page.url == sub_tag.url or page.tags contains sub_tag.name %}
                    {% assign has_subtag = true %}
                    {% assign tag_name = sub_tag.name %}
                    {% assign tag_icon = sub_tag.icon %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    {% if has_subtag and page.date %}
        <title>{{ site.name }} - {{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/002.css">
	{% elsif tag_icon == "/assets/img/mycomputer.png" %}
		<title>{{ site.name }}</title> <!-- this is so fucking hacky, fix it -->
		<link rel="stylesheet" type="text/css" href="/assets/css/001.css">
	{% else %}
		<title>{{ site.name }} - {{ tag_name }}</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/001.css">
	{% endif %}
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <script src="/assets/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
    <div class="wrapper">
 <div class="default_title">
    {% assign has_subtag = false %}
    {% assign tag_name = site.name %}
    {% assign tag_icon = "/assets/img/mycomputer.png" %}
    {% for tag in site.data.tags %}
        {% if page.url == tag.url %}
            {% assign tag_name = tag.name %}
            {% assign tag_icon = tag.icon %}
        {% endif %}
        {% if tag.sub_tags %}
            {% for sub_tag in tag.sub_tags %}
                {% if page.url == sub_tag.url or page.tags contains sub_tag.name %}
                    {% assign has_subtag = true %}
                    {% assign tag_name = sub_tag.name %}
                    {% assign tag_icon = sub_tag.icon %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    <img src="{{ tag_icon }}" />
    <h1>{{ tag_name }}</h1>
</div>
        {% include topbar.html %}
        <div class="tag_list">
            <ul id="tag-list">
                <li><a href="/" ><img src="/assets/img/disk.png" />(C:)</a>
                    <ul>
                        {% for tag in site.data.tags %}
                            <li>
                                <a href="{{ tag.url }}"><img src="{{ tag.icon }}" />{{ tag.name }}</a>
                                {% if tag.sub_tags %}
                                    <ul>
                                        {% for sub_tag in tag.sub_tags %}
                                            <li><a href="{{ sub_tag.url }}" title="{{ sub_tag.name }}"><img src="{{ sub_tag.icon }}" />{{ sub_tag.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
 <div class="post_list">
    {% unless page.date %}
        {% if page.title == 'me' or page.title == 'about' or page.title == '404...' %}
            <ul>
            </ul>
        {% elsif page.title == 'index' %}
            <ul>
                {% for tag in site.data.tags %}
                <li><a href="{{ tag.url }}" title="{{ tag.name }}"><img src="{{ tag.icon }}" title="{{ tag.name }}" />{{ tag.name }}</a></li>
                {% endfor %}
            </ul>        
        {% else %}
            {{ content }}
        {% endif %}
    {% else %}
        {% assign current_subtag = nil %}
        {% for tag in site.data.tags %}
            {% if tag.sub_tags %}
                {% for sub_tag in tag.sub_tags %}
                    {% if page.tags contains sub_tag.name %}
                        {% assign current_subtag = sub_tag.name %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        <ul>
            {% for post in site.posts %}
                {% if post.tags contains current_subtag %}
                <li>
                    <a href="{{ post.url }}" title="{{ post.title }}">
                        <img src="/assets/img/file.ico" title="{{ post.title }}" />
                        <span class="post_list_content">
                            <span class="post_list_title">{{ post.title }}</span>
                            <span class="post_list_date">{{ post.date | date: '%Y/%m/%d' }}</span>
                        </span>
                    </a>
                </li>
                    {% endif %}
            {% endfor %}
        </ul>
    {% endunless %}
</div>
        <div class="post_total">
            <div class="left">take your time.</div>
<!--             {% if page.tag %}
                <div class="left">{{ site.tags[page.tag] | size }} object(s)</div>
            {% else %}
                <div class="left">{{ site.posts | size }} object(s)</div>
            {% endif %}
 -->            <div class="right">&nbsp;</div>
        </div>
    </div>
    {% if page.title == 'index' %}
        <div class="content">
            <ul class="topbar">
                <li>you're <u>H</u>ome: welcome to the (C:) Drive.</li>
            </ul>
            <div class="post_content">
                {{ content }}
                {% if page.title %}
                    {% include donate.html %}
                {% endif %}
            </div>
        </div>
    {% elsif page.title == 'about' %}
        <div class="content">
            <ul class="topbar">
                <li><u>A</u>bout</li>
            </ul>
            <div class="post_content">
                {{ content }}
                {% if page.title %}
                    {% include donate.html %}
                {% endif %}
            </div>
        </div>
    {% elsif page.title and page.layout != "tag" %}
        <div class="content">
            <div class="post_title">
                <img src="/assets/img/file.png" />
                <h1>{{ page.title }}</h1>
                <a href="/"><div class="btn"><span class="fa fa-times"></span></div></a>
                <div class="btn btn_max"><span class="fa fa-window-maximize"></span></div>
                <div class="btn"><span class="fa fa-window-minimize"></span></div>
            </div>
            <ul class="topbar">
                {% if page.date %}
                <li>{{ page.date | date: '%B %-d, %Y' }}</li>
                {% else %}
                <li> </li>
                {% endif %}
            </ul>
            <div class="post_content">
                {{ content }}
                {% if page.title %}
                    {% include donate.html %}
                {% endif %}
            </div>
        </div>
    {% endif %}
    <script src="/assets/js/001.js"></script>
    <script src="/assets/js/002.js"></script>
    <div class="footer">
    </div>
</body>
</html>